@import url('https://fonts.googleapis.com/css?family=Nunito|Nanum+Gothic|Quicksand');

/*General rules*/
html {
    height: 100%;
    font-family: 'Work-Sans', sans-serif;
}

body {
    margin: 0 auto;
    font-family: 'Work-Sans', sans-serif;
    display: block;
}

article {
    margin: auto;
}

section {
    margin: 50px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #4d4e4f;
    text-align: center;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    margin: 10px;
    padding: 0;
    color: #B01034;
    text-align: center;
    line-height: 48px;
}

.logo h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 32px;
    line-height: 42px;
    height: 58px;
}

h3 {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin: 0;
    color: #778899;
    max-width: 100%;
    text-align:center;
}

h4 {
    font-size: 30px;
    color: #fff;
    text-align: left;
    bottom: 8px;
    left: 5%;
    position: absolute;
    width: 90%;
    margin-bottom: 0;
}

h5 {
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 5px;
    color: #4d4e4f;
    text-align: center;
}

p {
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

/*A 6 column grid on a CSS Grid is used through out this website with seperate settings for different sections*/

.head-banner {
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    height: 59px;
}

/*main content wrappers*/
.head-banner-content {
    /*using the repeat function ensures the setting is applied to all rows within the grid system*/
    grid-template-columns: repeat(6, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 1080px;
    /*A 960px margin was applied to enhance readability*/
    margin: 0 auto;
    height: 70px;
    /*overall height of the nav bar*/

}

/*Navigation Area*/

.logo {
    grid-column: 1/3;
    /*implementing the logo to be in columns 1 - 3 assures its pushed to the left removing the outdated float method*/
    grid-row: 1;
    justify-self:left;
}

span {
    /*span was used to add content to the logo. One half is black(span) and the other is the crimson (as set in h2 logo above*/
    color: black;
}


/*menu icon styling*/
.hamburger-menu {
    position: absolute;
    /*displays in its position one activted*/
    line-height: 30px;
    /*same as the nav line height*/
    display: grid;
    grid-column: 1;
    grid-row: 1;
}

.burger-button a:focus {
    /*using the focus pseudo class on the menu icon, alerts the user that the icon is clicked*/
    outline: none;
}

.burger-button {
    background: none;
    color: black;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    /*fixed bug originally there was no pointer*/
    outline: inherit;

}

/*Mobile navaigation functionality*/
/*whilst in desktop view the menu icon is hidden*/

.mobile-menu {
    display: flex;
    /*this display function is not a repeat. it has a different context and enables the toggle feature in voice JS*/
    flex-wrap: wrap;
    display: none;
}

/*mobile navigation-style*/

#mobile-navigation {
    overflow: auto;
    position: absolute;
    /*displays absolubly over the main banner image section*/
    z-index: 999999;
    /*enables the over lay as it has a higher z index in the dom*/
    margin-top: 60px;
    /*to display the menu underneath the banner*/
}

#mobile-navigation a {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100vw;
    background-color: lightgrey;
    color: #fff;
    text-align: center;
    font-size:30px;
    text-decoration: none;
    border-bottom: 1px solid #87cefa;
    padding: 10px;
    height: 50px;
    justify-content: center;
    align-content:center;
}

/*Desktop navigation link styles*/
.nav {
    grid-column: 3/-1;
    /*implementing the logo to be in columns 3-7 assures its pushed to the left removing the outdated float method(even though its set to 6 columns, 7 is used to push the content past the grid gap and to the end of grid column 6*/
    grid-row: 1;
    justify-self:right;
}

.nav ul {
    list-style: none;
    /*removes the lists bullet points*/
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    width: 100px;
    float: left;
    /*thenav is set to display grid, however list items can not have these settings and float was implicated*/
    font-family: 'Cantrell', 'sans-serif';
    font-size: 1.4em;
    line-height: 62px;
    height: 58px;

    /*  border-bottom: 1px solid #888;*/
}

.nav a:visited {
    /*to enhance usabilitya decision was made to include the visited feature to remind the user over visited pages*/
    text-decoration: none;
    color: lightskyblue;
}

.nav a {
    text-decoration: none;
    color: black;
    display: block;
    transition: .3s background-color;
    /*adds a 3second transition on hover*/
}

.nav a:hover {
    background-color: white;
    color: #707070;
    text-decoration: underline;

}

/*anchor point at the botom of the html, points to the top of page*/
.anchor-index {
    grid-column: 6;
    grid-row: 4;
    text-align: center;
}

#content {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    margin: auto;
    grid-gap: 10px;
}

#content div {
    /*    background: #333;*/
    padding: 30px;
}

.profile-placeholder {
    background-image: url(img/me.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 3/5;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    width: 160px;
    height: 160px;
}

.welcome-message {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    margin: auto;
}

#about {
    grid-column: 1/-1;
    grid-row: 3;
    margin-top: 0;
}

#services {
    grid-column: 1/-1;
    grid-row: 4;
    margin-top: 0;
}
#contact{
    grid-column:1/-1;
    grid-row: 5;
}
.contact-details li{
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
    text-align: center;
    list-style:none;
}
/*Project Page styling*/

#a {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(img/project1.jpg) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    grid-column: 2/6;
    grid-row: 6;
    margin: 0;
    padding: 20px;
    position: relative;
}

.project1 {
    grid-column: 2/6;
    grid-row: 7;
}

.project1 p {
    margin: 0;
    padding: 0;
    font-size: 20px
}

#b {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(img/project2.jpg) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    grid-row: 2;
    margin: 0;
    padding: 20px;
    grid-column: 2/6;
    position: relative;
}

.project2 {
    grid-column: 2/6;
    grid-row: 3;
}

.project2 p {
    margin: 0;
    padding: 0;
    font-size: 20px
}

#c {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(img/nav-system.png) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    grid-row: 4;
    margin: 0;
    padding: 20px;
    grid-column: 2/6;
    position: relative;
}

.project3 {
    grid-column: 2/6;
    grid-row: 5;
}

.project3 p {
    margin: 0;
    padding: 0;
    font-size: 20px
}

#d {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url(img/nav-system.png) no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    grid-row: 8;
    margin: 0;
    padding: 20px;
    grid-column: 2/6;
    position: relative;
}

.project4 {
    grid-column: 2/6;
    grid-row: 9;
}

.project4 p {
    margin: 0;
    padding: 0;
    font-size: 20px
}

/*contact page*/
.contact ul {
    list-style: none;
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
    padding: 2em;
}

.contact li {
    padding: 2em;
}

.anchor-index {
    grid-column: 6/7;
    grid-row: 5
}

/*cv styles*/
#resume {
    /*using the repeat function ensures the setting is applied to all rows within the grid system*/
    grid-template-columns: repeat(6, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    /*A 960px margin was applied to enhance readability*/
    margin: 5px auto;
    grid-column: 1/-1;
    grid-row: auto;
    border-bottom: solid 1px #4d4e4f;
}
#resume div {
    padding: 30px;
}
#resume h2 {
    float: left;
}
.title h1 {
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 5px;
    color: crimson;
}
.title {
    grid-column: 1/7;
    grid-row: 1/2;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    justify-self: center;
    margin: 0;
    padding: 0;
    border-bottom: solid 1px #4d4e4f;
}
.career-title {
    grid-column: 1/4;
    max-height: 50px;
    grid-row: 2;
}

.career {
    /*using the repeat function ensures the setting is applied to all rows within the grid system*/
    grid-template-columns: repeat(6, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    /*A 960px margin was applied to enhance readability*/
    grid-column: 1/-1;
    grid-row: 2;
    border-bottom: solid 1px #4d4e4f;
}
.career-heading{
    grid-column:1/7;
    grid-row:auto;
    justify-self:center;
}
.career ul{
    grid-column:1/7;
    grid-row:auto;
    color: #4d4e4f;
}
.skills-title {
    grid-column: 1/3;
    grid-row: 3;
    max-height: 50px;
}

.skills {
    /*using the repeat function ensures the setting is applied to all rows within the grid system*/
    grid-template-columns: repeat(6, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    /*A 960px margin was applied to enhance readability*/
    grid-column: 1/-1;
    grid-row: 3;
    border-bottom: solid 1px #4d4e4f;
}
.list-a {
    grid-column: 1/4;
    grid-row: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list-a ul li {
    list-style: none;
    padding: 10px;
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
}
.list-b {
    grid-column: 4/7;
    grid-row: auto;
    margin: 0;
    padding: 0;
    text-align: center;
}
.list-b ul li {
    list-style: none;
    padding: 10px;
    text-align: center;
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
}

.competencies {
    /*using the repeat function ensures the setting is applied to all rows within the grid system*/
    grid-template-columns: repeat(6, 1fr);
    /*minmax function ensures each row is set at 150px but is not restricted to this and can expand depending on the content*/
    grid-auto-rows: minmax(150px, auto);
    display: grid;
    max-width: 960px;
    /*A 960px margin was applied to enhance readability*/
    grid-column: 1/-1;
    grid-row: 4;
    border-bottom: solid 1px #4d4e4f;
}
.competencies-title {
    grid-column: 1/2;
    grid-row: 4;
    max-height: 50px;
    
}
.list-c {
    grid-column: 1/3;
    grid-row: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list-c ul li {
    list-style: none;
    padding: 10px;
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
}

.list-d {
    grid-column: 3/5;
    grid-row:1;
    margin: 0;
    padding: 0;
    text-align: center;
}

.list-d ul li {
    list-style: none;
    padding: 10px;
    text-align: center;
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
}
.list-e {
    grid-column: 5/7;
    grid-row: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}
.list-e ul li {
    list-style: none;
    padding: 10px;
    text-align: center;
    font-family: 'Malgun Gothic';
    font-size: 22px;
    color: #4d4e4f;
}

.education {
    grid-column: 1/7;
    grid-row: 5;
    border-bottom: 1px solid #4d4e4f;
}
.institute-1 p{
    grid-column:1/7;
    font-size:18px;
    text-align:left;
    margin:0;
    padding:0;
}
.interests {
    grid-column: 1/7;
    grid-row: 6;
    border-bottom: 1px solid #4d4e4f;
}
.hobies{
    grid-column:1/7;
    grid-row:7
}
.references {
    grid-column: 1/7;
    grid-row: 7;
    border-bottom: 1px solid #4d4e4f;
}
.referee{
    grid-column: 1/7;
    grid-row:7;
}
footer {
    background-color: #fff;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    height: 120px;
    position: absolute;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.social-media-icons {
    fill: #47b9e8;
    overflow: hidden;
    margin: 1rem 1rem 0 0;
    padding: 1rem 0;
}


#mobile-naviagtion,
.mobile-menu,
.hamburger-menu {
    display: none;
}

@media only screen and (max-width: 770px) {

    article { margin: 0 20px;   }
    .nav {display: none; }
    /*Mobile nav stylings*/
    .hamburger-menu { display: block; float: left; margin: 16px; line-height: 30px;font-size: 28px;}
    #mobile-menu {overflow: auto;position: absolute; z-index: 999999; width: 100%;float: left;margin-top: 60px;}
    #mobile-menu a {width: 100%;float: left; padding-top: 15px;padding-bottom: 15px; background-color: lightgrey;color: #ffffff;text-align: center;padding-left: 16px; text-decoration: none;border-bottom: 1px solid #0065d1; }
    .logo {grid-column: 2/6;height: 50px; font-size: 30px; justify-self:center;    margin-left: 1.4em;}
    .list-a{grid-column:1/-1;grid-row:1;}
    .list-b{grid-column:1/-1;grid-row:2;}
    .list-c{grid-column:1/-1;grid-row:1;justify-self:center;}
    .list-d{grid-column:1/-1;grid-row:2;}
    .list-e{grid-column:1/-1;grid-row:3;}
    .competencies{padding:0;margin:0;}
    .education{padding:0;margin:0;}
}
@media only screen and (max-width: 454px) {
    section{margin:10px}
    .logo h2{grid-column:2/7;font-size:25px;}
    #a,#b,#c,#d{grid-column:1/-1;}
    .project1{grid-column:1/7;}
    .project2{grid-column:1/7;}
    .project3{grid-column:1/7;}
    .project4{grid-column:1/7;}
    .skills-title{grid-column: 1/-1;justify-self:center;}
    .list-a ul{margin: 3em 0 0 0;padding:0;text-align:center;}
    .list-b ul{margin: 0;padding:0;text-align:center;}
    .competencies-title{grid-column:1/-1;justify-self:center;}
    .list-c ul{margin: 3em 0 0 0;padding: 0;text-align:center;}
    .list-d ul{margin: 0;padding: 0;text-align:center;}
    .list-e ul{margin: 0;padding: 0;text-align:center;}
    .hobbies{margin: 3em 0 0 0;padding:0;}
    .referee{margin:3em 0 0 0}
    .career-title{grid-column:1/-1;justify-self:center;}
    .career-heading{margin:3em 0 0 0}
}
@media only screen and (max-width: 360px) {
    article{margin:0;padding:0}
    .logo{grid-column:2/7;font-size: 22px;justify-self:center;margin-right: 1.5em;}
    .contact-details li{font-size:18px}
}